<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='./options/index.css'>
    <link rel='stylesheet' href='./vendor/spinner.css'>
  </head>

  <body>
    <div id='flip-flop-container'>
      <div class='flip-flop-card'>

        <div class='flip-flop-front'>
          <header>
            <div class='title'>Work or social networks</div>
            <img class='settings' src='./images/settings.png'>
          </header>

          <div class='fieldset'>
            <div class='label'>Count of displaying rows:</div>

            <select id='rows_count'>
              <option value='5'>5</option>
              <option value='10'>10</option>
              <option value='15'>15</option>
              <option value='20'>20</option>
              <option value='25'>25</option>
            </select>
            <i></i>
          </div>

          <footer>
            <div id='save'>Save</div>
          </footer>
        </div>

        <div class='flip-flop-back'>
          <header>
            <div class='title'>Firebase Account</div>
            <img class='settings' src='./images/settings.png'>
          </header>

          <div class='fieldset'>
            <div class='input-group'>
              <input id='api-key' class='form-control' placeholder='api-key'>
            </div>

            <div class='input-group'>
              <input id='auth-domain' class='form-control no-border' placeholder='auth-domain'>
              <span class='input-group-addon' placeholder='extention-5b547'>.firebaseapp.com</span>
            </div>
          </div>

          <footer>
            <div id='save-firebase'>Save</div>
          </footer>
        </div>

      </div>
    </div>


    <div id='history'>

      <script type='text/template' id='history-container-template'>
        <div class='history-title'>
          <div class='sites-count'># <%= _.size(sites) %></div>
          <% if( isToday ){ %>
            <div class='title'>Today:</div>
          <% } %>
          <div class='date'><%= formatHuman(currentDate) %></div>
          <div class='time'>
            <div>Active</div>
            <div>Pasive</div>
          </div>
        </div>

        <div class='history-item-container'>
          <% _.forEach(_.orderBy(sites, ['activeTime'], ['desc']), function(site) { %>

            <div class='history-item'>
              <div class='website-icon'>
                <img src='<%= site.icon %>'>
              </div>
              <div class='website-title'>
                <a href='<%= site.url %>'><%= site.name %></a>
              </div>
              <div class='website-time'>
                <div class='active'>
                  <%= convertMS(site.activeTime) %>
                </div>
                <div class='passive'>
                  <%= convertMS(site.passiveTime) %>
                </div>
              </div>
            </div>

          <% }); %>
        </div>
      </script>

    </div>

    <div id='installFirebase'>Please setup firebase</div>

    <div id='spinner'>
      <div id='floatingCirclesG'>
        <div class='f_circleG' id='frotateG_01'></div>
        <div class='f_circleG' id='frotateG_02'></div>
        <div class='f_circleG' id='frotateG_03'></div>
        <div class='f_circleG' id='frotateG_04'></div>
        <div class='f_circleG' id='frotateG_05'></div>
        <div class='f_circleG' id='frotateG_06'></div>
        <div class='f_circleG' id='frotateG_07'></div>
        <div class='f_circleG' id='frotateG_08'></div>
      </div>
    </div>

    <script src='./libs/lodash.min.js'></script>
    <script src='./libs/firebase.js'></script>

    <script src='./vendor/store.js'></script>
    <script src='./vendor/helpers.js'></script>

    <script src='./options/options.js'></script>
  </body>
</html>
