body {
  background-color: #f1f1f1;
  font-size: 14px;
}

.status {
  position: absolute;
  width: 150px;
  text-align: center;
  top: 15px;
  right: 15px;

  padding: 10px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}

.flip-flop-card header {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 25px;
  font-weight: 300;
  color: #232323;
}

.flip-flop-card header .title {
  flex: 1 100%;
  text-align: center;
}

.flip-flop-card header .settings {
  width: 30px;
  height: 100%;
  display: block;
  padding-right: 10px;
  cursor: pointer;
}

.flip-flop-card .fieldset {
  padding: 20px 30px;
  position: relative;
  background-color: #F1F1F1;
}

.flip-flop-card .fieldset .label {
  margin-bottom: 5px;
  color: #404040;
}

.flip-flop-card .fieldset #rows_count {
  width: 100%;
  height: 39px;
  padding: 8px 10px;
  border: 2px solid #E5E5E5;
  color: #404040;
  outline: none;
  font-size: inherit;
  -webkit-appearance: none;
}

.flip-flop-card .fieldset i {
  position: absolute;
  top: 55px;
  right: 45px;
  width: 5px;
  height: 11px;
}

.flip-flop-card .fieldset i:before,
.flip-flop-card .fieldset i:after {
  content: '';
  position: absolute;
  right: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.flip-flop-card .fieldset i:before {
  top: 0;
  border-bottom: 4px solid #404040;
}

.flip-flop-card .fieldset i:after {
  bottom: 0;
  border-top: 4px solid #404040;
}

.flip-flop-card .fieldset .input-group {
  display: table;
  margin-bottom: 12px;
  width: 100%;
}

.flip-flop-card .fieldset .input-group:last-child {
  margin: 0;
}

.flip-flop-card .fieldset .input-group .form-control {
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  height: 34px;
  display: table-cell;
  box-sizing: border-box;
  outline:0;
  padding: 0 10px;
}
.flip-flop-card .fieldset .input-group .form-control.no-border {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.flip-flop-card .fieldset .input-group .input-group-addon {
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  display: table-cell;
}

.flip-flop-card footer {
  display: flex;
  justify-content: space-between;

  padding: 15px 30px;
  border-top: 1px solid #D4D4D4;
}

.flip-flop-card footer div {
  line-height: 38px;
  padding: 0 25px;
  border: 0;
  color: #fff;
  cursor: pointer;
  background-color: #2DA5DA;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.flip-flop-card footer div:hover {
  opacity: 1;
}

.flip-flop-card footer #clear {
  background-color: #FF2525;
}





#history {
  margin: 30px auto;
  max-width: 960px;
  min-width: 550px;
}

#history .history-container {
  margin-bottom: 30px;
  box-shadow: 0 0 10px #b3b3b3;
  background: #fff;
  border-radius: 2px;
}

#history .history-container .history-title {
  align-items: center;
  display: flex;
  padding: 0 20px;
  min-height: 50px;

  border-bottom: 1px solid #D4D4D4;
}

#history .history-container .history-title .sites-count {
  flex: 0 auto;
  width: 36px;
  padding-right: 15px;
  text-align: center;
}

#history .history-container .history-title .title {
  flex: 0 auto;
  color: black;
  padding-right: 10px;
}

#history .history-container .history-title .date {
  flex: 1 auto;
  color: #73777A;
}
#history .history-container .history-title .time {
  flex: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #73777A;
}

#history .history-container .history-title .time div {
  width: 60px;
  padding: 0 10px;
}

#history .history-container .history-item-container {
  padding: 8px 0;
}

#history .history-container .history-item-container .history-item {
  align-items: center;
  display: flex;
  padding: 0 20px;
  min-height: 40px;
}

#history .history-container .history-item-container .history-item .website-icon {
  flex: 0 auto;
}

#history .history-container .history-item-container .history-item .website-icon img {
  height: 16px;
  width: 16px;
  display: block;
  padding: 0 10px;
}

#history .history-container .history-item-container .history-item .website-title {
  flex: 1 auto;
  padding: 0 15px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#history .history-container .history-item-container .history-item .website-title a {
  color: black;
  text-decoration: none;
}

#history .history-container .history-item-container .history-item .website-time {
  flex: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#history .history-container .history-item-container .history-item .website-time .active,
#history .history-container .history-item-container .history-item .website-time .passive {
  padding: 0 10px;
  color: #73777A;
  width: 60px;
}







#flip-flop-container {
  width: 400px;
  margin: 20px auto;
  perspective: 800px;
  position: relative;
  height: 230px;
}

#flip-flop-container .flip-flop-card {
  box-shadow: 0 0 20px #b3b3b3;
  color: #666;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 1s;
  transform-style: preserve-3d;
}

#flip-flop-container .flip-flop-card.flipped {
  transform: rotateY( 180deg );
}

#flip-flop-container .flip-flop-card.flipped .flip-flop-front{
  z-index: 2;
}

#flip-flop-container .flip-flop-card .flip-flop-front,
#flip-flop-container .flip-flop-card .flip-flop-back {
  background-color: #F9F9F9;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  z-index: 1;
}

#flip-flop-container .flip-flop-card .flip-flop-front {
}

#flip-flop-container .flip-flop-card .flip-flop-back {
  transform: rotateY( 180deg );
}
#flip-flop-container .flip-flop-card .flip-flop-back .fieldset {
  padding: 10px 30px;
}
#flip-flop-container .flip-flop-card .flip-flop-back footer {
  justify-content: flex-end;
}
